<div class="page" data-page="classificacao">

	<!-- Top Navbar. In Material theme it should be inside of the page-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" data-panel="left" class="link open-panel close-picker"><i class="material-icons">menu</i></a>
			</div>

			<div class="center classificacao-div-title">Classificação</div>
			<div class="right"></div>
		</div>
	</div>

	<!-- Floating Action Button -->
	<a href="#" class="floating-button jogos-filtrar open-picker" data-picker=".picker-filtro">
		<i class="material-icons">tune</i>
	</a>

	<!-- Scrollable page content -->
	<div class="page-content">
		<!-- Results -->
		<div id="classificacao-result" class="data-table">
			
		</div> 
		
		<div class="page-footer">
		</div> 

	</div>
</div>
