body {
	font-family: Roboto Condensed !important;
}

.jogos-div-temporada {
	padding: 0 16px;
}

.jogos-div-equipe, .confrontos-div-equipe {
	display: inline-block;
	min-width: 95px;
	text-align: center;
	padding-top: 2px;
}

.jogos-div-equipe-logo, .confrontos-div-equipe-logo {
	height: 50px !important;
}

.jogos-div-equipe1, .confrontos-div-equipe1 {
	text-align: right;
}

.jogos-div-equipe2, .confrontos-div-equipe2  {
	text-align: left;
}

.jogos-div-resumo {
	font-size: 13px;
	padding: 5px 15px;
}

.jogos-div-placar {
	margin: auto 0;
	text-align: center;
	font-size: 24px;
}

.jogos-div-placar i {
	font-size: 16px;
}

p.jogos-div-data {
	margin: 0;
	font-size: 13px;
	text-align: center;
}

.card-footer.jogos-div-data {
	min-height: 36px;
}

.jogos-rodada-arrow {
	color: white;
	font-size: 42px !important;
}

.jogos-rodada-subnavbar-center {
	width: 100%;
	text-align: center !important;
}

.jogos-rodada-select {
	display: inline-block;
}

.jogos-rodada-select .item-content {
	padding: 0 !important;
}

.jogos-rodada-select .item-inner {
	padding: 0 !important;
}

.jogos-rodada-select .item-input {
	height: 100%;
}

.jogos-rodada-select select {
	color: white;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.picker-filtro {
	height: initial !important;
}

.picker-filtro .close-picker {
	color: white;
}

.picker-filtro .item-inner {
	margin: 0 !important;
}

.picker-filtro .material-icons {
	color: rgb(117, 117, 117);
}

.picker-filtro .content-block, .list-block {
	margin: 0 !important;
}

.card-content-inner {
	padding: 6px !important;
}

.jogos-div-jogo .accordion-item-content::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: #e1e1e1;
	color: #757575;
}

.jogos-div-jogo-futuro {
	filter: grayscale(100%);
}

.jogos-div-jogo-futuro .jogos-div-placar{
	visibility: hidden;
}

.jogos-div-jogo-futuro .jogos-div-placar:after{
	font-size: 16px;
	font-family: 'Material Icons';
	content: "close";
	visibility: visible;
	display: block;
}

.classificacao-equipe-logo {
	height: 30px;
	margin-right: 5px;
	vertical-align: middle;
}

#classificacao-result td,
#classificacao-result th,
#ranking12-result td,
#ranking12-result th {
	padding: 8px;
	line-height: 1.42857143;
	border-top: 1px solid #ddd;
	vertical-align: middle;
	white-space: nowrap;
}

#classificacao-result tr:nth-of-type(2n+1),
#ranking12-result tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.page-footer {
	height: 80px;
}

.confrontos-div-versus, .confrontos-div-center {
	text-align: center;
	margin: auto 0;
	color: #999;
}

.confrontos-span-jogos {
	color: #717171;
}

.ranking12-logo-botonista {
	height: 30px;
	margin-right: 5px;
	border: 1px black solid;
}

.ranking12-logo-classificacao {
	height: 30px;
	margin-right: 5px;
}

i.navbar-icon {
	color: #666 !important;
}