<div class="page" data-page="jogos">

	<!-- Top Navbar. In Material theme it should be inside of the page-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" data-panel="left" class="link open-panel close-picker"><i class="material-icons">menu</i></a>
			</div>

			<div class="center jogos-div-title">Jogos</div>
			<div class="right"></div>
		</div>
		
		<!-- Sub navbar -->
		<div class="subnavbar">
			<div class="left">
				<a class="link jogos-rodada-botao-left" href="#"><i class='material-icons jogos-rodada-arrow'>keyboard_arrow_left</i></a>
			</div>

			<div class="center jogos-rodada-subnavbar-center">
				<div class='jogos-rodada-select'>
					<div class="list-block">
						<div class="item-content">
							<div class="item-inner">
								<div class="item-input">
									<select class="rodada" name="rodada">

									</select>
								</div>
							</div>
						</div>
					</div>  	
				</div>
			</div>
			<div class="right"> 
				<a class="link jogos-rodada-botao-right" href="#"><i class='material-icons jogos-rodada-arrow'>keyboard_arrow_right</i></a>
			</div>
		</div>				
	</div>

	<!-- Floating Action Button -->
	<a href="#" class="floating-button jogos-filtrar open-picker" data-picker=".picker-filtro">
		<i class="material-icons">tune</i>
	</a>

	<!-- Scrollable page content -->
	<div class="page-content with-subnavbar">
		<!-- Results -->
		<div id="jogos-result-cards">

		</div> 
		
		<div class="page-footer">
		</div> 
	</div>
	
</div>
